<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.text_area :content, placeholder: "Compose new micropost..." %>
    </div>
    <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
    <div class="view-img"></div>
    
    <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
    $(".view-img").hide();
    $('#micropost_picture').bind('change', function() {
        var reader = new FileReader(); //新建FileReader对象
        var file =  this.files[0];
        reader.readAsDataURL(file);
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 1) {
            alert('Maximum file size is 1MB. Please choose a smaller file.');
        }
        reader.onloadend = function (e) {
            var dataURL = reader.result;
            console.log(dataURL);
            var image = '<img src="'+dataURL+'" style="width:100px" />';
            var deleteImg= '<a href="#" id="deleteImg">删除</a>'
            $(".view-img").show();
            $(".view-img").html(image+deleteImg);
        };
        
    });
    $("#deleteImg").click(function(){
        var file = $("#micropost_picture") 
        file.after(file.clone().val("")); 
        file.remove(); 
        $(".view-img").hide();
    })

</script>